					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="<%= root_path %>" class="logo">
									<span class="symbol"><%= image_tag("logo")%></span><span class="title">Phantom</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>
