<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="<%= root_path %>">Home</a></li>
    <li><%= link_to "Generic", "/generic" %></li>
    <li><%= link_to "Elements", "/elements" %></li>
    <li><%= link_to "Libros", "/libros" %></li>
  </ul>
</nav>
